
.row
  .span6{:'ng-view' => ''}
  #valuechart.span6

.row
  .span12
    .well
      #pricehistory
.row
  .span12
    Load price history for:
    .btn-group
      %button#all.btn All units
      %button#studios.btn Studios
      %button#ones.btn 1 Bedrooms
      %button#twos.btn 2 Bedrooms
    .input-append.pull-right
      %input#unitnumber{type: :text, placeholder: 'Unit #'}
      %button#loadunit.btn{type: :button} Search

.row
  .span12
    .laddweb

      %object(classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" height="680" width="670")
        %param(name="movie" value="http://cdn11.g5search.com/assets/45200/LADDweb.swf?1297794076")
        %param(name="quality" value="670")
        %embed(src="#{asset_path('LADDweb.swf')}" quality="high" width="870" height="465" type="application/x-shockwave-flash")
