
%table.table.table-striped.table-condensed.table-hover#available
  %thead
    %tr
      %th Unitnumber
      %th Bedrooms
      %th Bathrooms
      %th Sqft
      %th Current Rate
      %th

  %tbody
    %tr(ng-repeat='unit in units' class="{{unit | unit_class}}" data-unitnumber="{{unit.unitnumber}}" ng-click="unitHistory()")
      %td {{unit.unitnumber}}
      %td {{unit | format_bedrooms}}
      %td {{unit.bathrooms}}
      %td {{unit.sqft}}
      %td
        {{unit.price | currency}}
        %span{title: '{{unit.trend | currency}}', class: '{{unit.trend | trend_badge}}'}
          %i{class: '{{unit.trend | trend_icon}}'}
      %td
        %button.btn.btn-info.btn-mini(ng-click='unitinfo()') Info

