
.modal-header
  %button.close(ng-click='cancel()') &times;
  %h3.modal-title Unit {{unit.unitnumber}}

.modal-body
  %header.jumbotron.subhead#overview
  %p.lead {{unit.sqft}} sqft {{unit.bedrooms}}/{{unit.bathrooms}}
  %img(ng-src="{{unit | floorplan}}" alt="Unit Floorplan")

.modal-footer
  %button.btn.btn-default(ng-click='ok()') Close

