!!! 5
%html{:'ng-app' => 'TrackLadd'}
  %head
    %title Track Ladd Prices
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %base{href: '/'}

    = favicon_link_tag
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data => {toggle: 'collapse', target: '.nav-collapse'}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to('Track Ladd Prices', '/', class: 'brand')
          .nav-collapse.collapse
            %ul.nav.pull-right
              %li.hidden-desktop=link_to('Available', '#available')
              %li.hidden-desktop=link_to('$ / Sqft', '#valuechart')
              %li.hidden-desktop=link_to('Price History', '#pricehistory')
              %li.hidden-desktop=link_to('Sidekiq', '/sidekiq')
    .container
      .content
        = yield
      %hr
      %footer
        %p &copy; Eric Betts #{Time.now.year}

/http://javascript.hew.io/fullscreen/angular-asset-path
%script
  var app = angular.module('TrackLadd')
  app.config(function(assetPathProvider) {
  assetPathProvider.setAssets(
  = File.read(Dir.glob('public/assets/manifest-*.json').last).html_safe rescue "{}"
  )
  })
